@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
    font-family: 'Sora Variable', sans-serif;
}

html,
body {
    background-color: rgb(249 250 251 / var(--tw-bg-opacity, 1)) /* #f9fafb */;
}

/* Enable scrolling only for the page with form */
.page-with-form {
    overflow: auto; /* Enable scrolling for this page */
}